@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'DM Sans', system-ui, sans-serif;
  }
}

:root {
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-primary: #3d00b7;
  --color-secondary: #2ecc71;
  --color-background: #ecf0f1;
  --color-dim: #696969;
}
.rounded-text {
  width: 5.625rem;
  height: 5.625rem;
  text-transform: uppercase;
  transform: rotate(-103deg);
  color: #000;
  font-weight: bold;
  z-index: -1;
  font-family: Raleway;
  padding: 10px;
}
.white {
  fill: #000;
}
.yellow {
  fill: #ffda2a;
}
.green {
  fill: #00d3b9;
}
@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotating {
  animation: rotating 12s linear infinite;
}
@keyframes coloring {
  0% {
    fill: #000;
  }
  35% {
    fill: #020202;
  }
  75% {
    fill: #0e0e0e;
  }
  100% {
    fill: #000;
  }
}
.coloring {
  animation: coloring 12s linear infinite;
}
